body {
    background-color: hsl(0, 0%, 80%);
    font-family: "Courier New", Courier, monospace;
    font-size: 19px;
}

canvas {
    margin-top: 75px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}

div.left {
    float: left;
    width: 20%;
}

div.right {
    float: right;
    width: 80%;
}
