*
!.gitignore
!shell.nix
!.shellhook
!src/
!.tidyrc
!.clang-format
!.jshintrc
!*.html
!*.css
!js/
!*.js
!shader.*
!codegen
!adjacency/
!curvature/
!expand/
!grid/
!growth/
!intersect/
!kdtree_radius/
!kdtree_rect/
!lerp/
!line_sample/
!nearest_neighbor/
!no_clear/
!orbits/
!rect_circle/
!shrink/
!spatial_hash/
!splines/
!to_from/
!velocity/
!webs/
