*
!.gitignore
!README.md

!shell.nix
!.shellhook

!.clang-format
!.jshintrc
!.tidyrc

!src/
!*.html
!*.css
!*.js

!*.png
!*.xcf

!adjacency/
!curvature/
!doorways/
!expand/
!grid/
!growth/
!intersect/
!jumper/
!kdtree_radius/
!kdtree_rect/
!lerp/
!line_sample/
!nearest_neighbor/
!no_clear/
!orbits/
!rect_circle/
!shrink/
!spatial_hash/
!splines/
!sprites/
!to_from/
!velocity/
!webs/
