*
!.gitignore
!shell.nix
!.shellhook
!src/
!client/
!.tidyrc
!.clang-format
!.jshintrc
!*.html
!*.css
!js/
!*.js
!server/
!*.go
!main
!to_from/
!velocity/
!no_clear/
!grid/
!shrink/
!expand/
!adjacency/
!orbits/
