body {
    background-color: hsl(0, 0%, 65%);
}

canvas {
    margin-top: 200px;
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: hsl(0, 0%, 15%);
}
